body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
}

p {
    font-size: 20px;
}

input {
    margin: 10px 15px 20px 15px;
}

label {
    margin-right: -10px;
    font-size: 20px;
}

#cabecera {
    font-size: 50px;
}

button {
    margin: -10px 10px 0 10px;
    border: solid 1px black;
    width: auto;
    border-radius: 50%;
    padding: 5px 12px 5px 12px;
    font-size: 20px;
}

#btn_color {
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    width: auto;
}
